body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  div {
    margin: 0;
    
  }

  #grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: auto;
  }

  .box {
    border: 0px;
  }

  .grid {
    width: 25px;
    height: 25px;
    /*border: 1px solid black; */
  }